.root {
    margin: 0;
    font-size: 1rem;
}

.userInfo {
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto;
    margin: 1rem 0;

}
.userInfo dt {
    grid-column: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.userInfo dt::after {
    content: ":";
}

.userinfo dd {
    grid-column: 2;
}

