  
*,
*::before,
*::after,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html, body {
    height: 100%;
    min-width: fit-content;
}

body {
    margin: 0;
    color: #252934;
    background: #fafafa;
    font-size: 62.5%;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a,
a:visited {
    color: #252934;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 200ms;
}

a:hover,
a:active {
    color: #f300b4;
}

button.splashButton {
    padding: 1rem;
    font-size: 12pt;
    opacity: 50%;
    background-color:brown;
    color: white;
    font-weight: bold;
    cursor: pointer;
    clip-path: polygon(10% 15%, 0% 100%, 10% 80%, 50% 100%, 90% 80%, 100% 100%, 90% 25%,  100% 0%, 50% 10%);
    transition: all 1s;

}

button.splashButton:hover {
    opacity: 100%;
    clip-path: polygon(10% 20%, 15% 100%, 25% 75%, 50% 100%, 80% 80%, 95% 100%, 90% 25%,  100% 0%, 50% 10%);
    padding: 2rem;
    transition: opacity 1s linear, clip-path 2s 1s linear, padding 2s 1s linear;
    
}
